# News Sentiment Strategy Settings
NEGATIVE_NEWS_KEYWORDS=war, conflict, pandemic, recession, crisis, lockdown
POSITIVE_NEWS_KEYWORDS=ETF, Institutional, Fed, Halving, Mainnet, Tesla, BlackRock, Google, Amazon, Institutional Adoption, Asset Reserve, Regulation Clarity, Rate Cut, Inflation Hedge, Banking Crisis, Mainnet Launch, Hard Fork, Layer 2
